receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

processors:
  batch:
  transform/mask_llm_output:
      error_mode: ignore
      trace_statements:
        - context: span
          statements:
            # Match everything in the string and replace with REDACTED
            - replace_pattern(attributes["gen_ai.completion"], ".*", "REDACTED")

exporters:
  debug:
    verbosity: detailed
  otlphttp/langsmith:
    endpoint: "https://api.smith.langchain.com/otel"
    headers:
      x-api-key: "${env:LANGSMITH_API_KEY}"
      Langsmith-Project: "langsmith-otel"
  file:
    path: /etc/otelcol-contrib/logs/collector.log

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch, transform/mask_llm_output]
      exporters: [debug, otlphttp/langsmith, file]
  telemetry:
    logs:
      level: "info"
      encoding: "console"
